/* CSS variables */
:root {
  --border-radius: 8px;
}

/* Basic Sections */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

header {
  position: sticky;
  z-index: 2;
  width: 100%;
  background-color: #c5c5c5;
}

main {
  min-height: calc(100vh - 60px);
}

#cards-with-fade-in-layer-effect {
  margin: 48px 24px;
}

#cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #b1c8f3;
  /* gap: 1rem */
}

.card-container {
  position: relative;
  background-color: antiquewhite;
  margin: 1rem;
  /* padding: 1rem; */
  border-radius: var(--border-radius);
  width: 400px;
  height: 300px;
}

.card-image {
  width: 100%;
  height: auto;
  /* object-fit: contain; */
  border-radius: var(--border-radius);
}

/* todo separate .card-overlay & .card-content */
.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  transition: 300ms ease;
  /*** Set hight to margin in .description > h3: ***/
  height: 15%; 
  width: 100%;
  overflow: hidden;

  border-radius: var(--border-radius) var(--border-radius);
  background-color: #0000ff5e;
  color: white;
}

.card-container:hover .card-overlay {
  cursor: pointer;
  height: 100%;
  justify-content:center;
}

.card-text{
  /* align-items: center; */
}

.description > h3 {
  /*** set margin to height in .card-overlay  ***/
  margin: 0.8rem 0;
}

.card-overlay:hover h3 {
  font-size: 2.5rem;

}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin: 1rem 0;
}

.tag {
  border: 2px solid white;
  border-radius: 12px;
  padding: 2px 8px;
}
footer {
  text-align: center;
  height: 60px;
  background-color: #c5c5c5;
}

/* Breakpoints */
@media screen and (min-width: 1171px) {
}
@media screen and (max-width: 1170px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 500px) {
}
